name: backend CI pipeline
on:
    push:
        branches: ["main"]
        paths:
        - 'spring-boot-data-jpa-mysql/**'
        - '.github/workflows/backend.yml'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Set up JDK 17
            uses: actions/setup-java@v4
            with:
              distribution: 'temurin'
              java-version: '17'
              cache: 'maven'
          - name: Build with maven
            run: cd spring-boot-data-jpa-mysql && mvn -B clean package -DskipTests
          - name: Upload backend artifacts
            uses: actions/upload-artifact@v4
            with:
              name: backend-jar
              path: spring-boot-data-jpa-mysql/target/*.jar

    docker:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: checkout code
          uses: actions/checkout@v4
        - name: Download JAR files
          uses: actions/download-artifact@v4
          with:
            name: backend-jar
            path: spring-boot-data-jpa-mysql/target
        - name: Log in to dockerhub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: build docker image
          run: |
            cd spring-boot-data-jpa-mysql && docker build -f "Dockerfile" -t ${{ secrets.DOCKERHUB_USERNAME}}/backend-app:latest .

        - name: push to DockerHub
          run: docker push ${{ secrets.DOCKERHUB_USERNAME}}/backend-app:latest





