name: Backend CI/CD Pipeline

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  security-events: write

jobs:
  sast:
    name: CodeQL SAST
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Run CodeQL analysis
        uses: github/codeql-action/analyze@v3
        with:
          output: results.sarif
      - name: Upload SARIF
        uses: actions/upload-artifact@v4
        with:
          name: codeql-results
          path: results.sarif

  sca:
    name: Trivy SCA dependency scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget -qO- https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo gpg --dearmor -o /usr/share/keyrings/trivy.gpg
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update -y && sudo apt-get install -y trivy
      - name: Run Trivy SCA (Dependency Scan)
        run: |
          cd spring-boot-data-jpa-mysql
          trivy fs --scanners vuln --format table --severity HIGH,CRITICAL --output ../trivy-dependency-report.txt .
        continue-on-error: true

      - uses: actions/upload-artifact@v4
        with:
          name: trivy-scan
          path: trivy-scan.txt

  maven-build:
    name: Build App
    runs-on: ubuntu-latest
    needs: [sast, sca]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Build with Maven
        run: mvn -B clean package -DskipTests
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: target/*.jar


  docker-build:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs:  maven-build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        env:
          ECR_REPOSITORY: backend-app
          IMAGE_TAG: latest
        run: |
          cd spring-boot-data-jpa-mysql
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .

      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget -qO- https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo gpg --dearmor -o /usr/share/keyrings/trivy.gpg
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update -y && sudo apt-get install -y trivy

      - name: Run Trivy Container Scan
        env:
          IMAGE_NAME: backend-app
        run: |
          cd spring-boot-data-jpa-mysql
          trivy image --scanners vuln --format table --severity HIGH,CRITICAL --output ../trivy-image-report.txt $IMAGE_NAME:latest
        continue-on-error: true

      - name: Upload Trivy Image Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-image-report
          path: trivy-image-report.txt

      - name: Push image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: backend-app
          IMAGE_TAG: latest
        run: |
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
